/*Selector Universal*/
*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

#car-plan{
    width: 260px; height: 400px;
    margin-left: 20px;
    margin-right: 20px;
}
#menu{
    height: 70px;
    margin-top: 20px;
    padding-top: 30px;
}

.barra{
    width: 100%;
    height: 4px;
    background-color:#CCCCCC;
    margin-top: -10px;
}
#pasos{
   text-align: center;
}
#planes{
    display: block;
}

#detalle-empresa{
    height: 500px;
    background-color:#ffffff;
    margin-top: 20px;
    border-radius: 0.3rem;
    border-color: 1px solid #8BD0ED;
    
}
.btn-empezar{
    margin-top: 50px;
    height: 40px;
    color: #ffffff;
    border-radius: 0.4rem;
    box-shadow: 2px 2px 7px #999; 
    text-align: center;
    padding-top: 5px;
    padding-bottom: auto;
    color: #ffffff!important;
    background-color: #546991!important;
}

.btn-empezarPremium{
    margin-top: 50px;
    height: 40px;
    color: #ffffff;
    border-radius: 0.4rem;
    box-shadow: 2px 2px 7px #999; 
    text-align: center;
    padding-top: 5px;
    padding-bottom: auto;
    color: #ffffff!important;
}

.imagen{
    background-color: #eeeeee;
    height: 90px;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
    color:#B8BEC2;
   
}
.botton{
    margin-bottom: 10px;
}

@media (max-width: 1300px) {
    
#Registro{
    background-color:#ffffff;
    height: 630px;
    width: 90%!important;

    margin-bottom: 0px ;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -230px!important;
    border-radius: 1rem;
    box-shadow: 4px 4px 10px #999; 
    
}
}

@media (max-width: 1215px) {
    
    #Registro{
        background-color:#ffffff;
        height: 630px;
        width: 90%!important;
        margin-bottom: 0px ;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: -220px!important;
        border-radius: 1rem;
        box-shadow: 4px 4px 10px #999; 
        
    }

    #cont-planes{
        margin-top: 15px!important;
    }

    }

    @media (max-width: 1048px) {
    
        #Registro{
            background-color:#ffffff;
            height: 630px;
            width: 95%!important;
            margin-bottom: 0px ;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            margin-top: -170px!important;
            border-radius: 1rem;
            box-shadow: 4px 4px 10px #999; 
            
        }
    
        #cont-planes{
            margin-top: 15px!important;
        }
    
        }

        @media (max-width: 992px) {
    
            #Registro{
                background-color:#ffffff;
                height: 630px;
                width: 98%!important;
                margin-bottom: 0px ;
                position: relative;
                margin-left: auto;
                margin-right: auto;
                margin-top: -170px!important;
                border-radius: 1rem;
                box-shadow: 4px 4px 10px #999; 
                
            }
        
            #cont-planes{
                margin-top: 15px!important;
            }
        
            }


            @media (max-width: 948px) {
    
                #Registro{
                    background-color:#ffffff;
                    height: 1030px!important;
                    width: 85%!important;
                    margin-bottom: 0px ;
                    position: relative;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: -150px!important;
                    border-radius: 1rem;
                    box-shadow: 4px 4px 10px #999; 
                    
                }
            
                #cont-planes{
                    margin-top: 50px!important;
                }
            
                #pasoss{
                    display: none;
                }

                .individual{
                    display: block!important;
                }
                }


                
            @media (max-width: 760px) {
    
                #Registro{
                    background-color:#ffffff;
                    height: 1400px!important;
                    width: 85%!important;
                    margin-bottom: 0px ;
                    position: relative;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: -120px!important;
                    border-radius: 1rem;
                    box-shadow: 4px 4px 10px #999; 
                    
                }
            
                #cont-planes{
                    margin-top: 30px!important;
                }
            
                #pasoss{
                    display: none;
                }

                .individual{
                    display: block!important;
                }
                }


                      
            @media (max-width: 680px) {
    
                #Registro{
                    background-color:#ffffff;
                    height: 1600px!important;
                    width: 85%!important;
                    margin-bottom: 0px ;
                    position: relative;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: -100px!important;
                    border-radius: 1rem;
                    box-shadow: 4px 4px 10px #999; 
                    
                }
            
                #cont-planes{
                    margin-top: 30px!important;
                }
            
                #pasoss{
                    display: none;
                }

                .individual{
                    display: block!important;
                }
                }




                @media (max-width: 530px) {
    
                    #Registro{
                        background-color:#ffffff;
                        height: 1750px!important;
                        width: 90%!important;
                        margin-bottom: 0px ;
                        position: relative;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: -80px!important;
                        border-radius: 1rem;
                        box-shadow: 4px 4px 10px #999; 
                        
                    }
                
                    #cont-planes{
                        margin-top: 30px!important;
                    }
                
                    #pasoss{
                        display: none;
                    }
    
                    .individual{
                        display: block!important;
                    }
                    }


                    
                @media (max-width: 470px) {
    
                    #Registro{
                        background-color:#ffffff;
                        height: 1800px!important;
                        width: 90%!important;
                        margin-bottom: 0px ;
                        position: relative;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: -50px!important;
                        border-radius: 1rem;
                        box-shadow: 4px 4px 10px #999; 
                        
                    }
                
                    #cont-planes{
                        margin-top: 30px!important;
                    }
                
                    #pasoss{
                        display: none;
                    }
    
                    .individual{
                        display: block!important;
                    }
                    }
    
    


     

#Registro{
    
    background-color:#ffffff;
    height: 630px;
    width: 80%;
    margin-bottom: 0px ;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -300px;
    border-radius: 1rem;
    box-shadow: 4px 4px 10px #999; 
    
}

.div-pie{
    background-color: #F3F4F5;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    margin: 0px;
    margin-right: 0px;  
}

.input-error{
    border-color: 1px solid red!important;
}