*{
    margin: 0px;
    padding: 0px;
}


@media (max-width: 750px) {
    .linea {
    background-color:#546991 ;
    height: 2px!important;
    width: 500px!important;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 10px!important;
    }
    }

 
      
@media (max-width: 990px) {
    #inventario {
    display: block!important;
    }
    #inventario-vertical{
        display: none!important;
    }
    } 


    @media (max-width: 990px) {
        #tabla {
        margin-left: 0px!important;
        }
        }   


    .editar{
        margin-top: -200px;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 13px;
        color: #EEEEEE;
        text-align: center;
        cursor: pointer;
        border-radius: 0.2rem;
       
    } 
    
    .guardar{
        margin-top: -200px;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 13px;
        color: #EEEEEE;
        text-align: center;
        cursor: pointer;
        border-radius: 0.2rem;
        display: none;
       
    }   

    .actualizar{
        margin-top: 10px;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
        color: #EEEEEE;
        text-align: center;
        cursor: pointer;
        border-radius: 0.2rem;
        display: none;
       
    }    


.Menu{
    width: 300px;
    height: 750px;
    background-color: rosybrown;
}

.perfil{
height: 150px;
}

.img-perfil{
    width: 150px;
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
}
.paneles{
    height: 200px;
    box-shadow: 2px 2px 7px #999; 
    background-color: #ffffff;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.imagen{
    background-color: #eeeeee;
    height: 90px;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
    color:#B8BEC2;
    margin-left: auto;
    margin-right: auto;
    float: inline-end;
    margin-top: 50px;
    text-align: center;
    border-color: #ffffff;
    border: 3px solid #ffffff;
    margin-bottom: 10px;
    
}

#nombre_empresa{
    font-family: 'Manrope', sans-serif;
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
    
}

.item-sidebar1{
    font-family: 'Manrope', sans-serif;
    font-family: 'Baloo Bhaina 2', cursive;
    border: #ffffff;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 1px;
    padding: 10px;
}
.item-sidebar{
    font-family: 'Manrope', sans-serif;
    font-family: 'Baloo Bhaina 2', cursive;
    border: #ffffff;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 1px;
    padding: 10px;
    color: #838383;
}

.click{
    color:#ffffff!important;
    background-color:#546991!important;
    font-weight: bold;
    border-radius: 0.5rem; 
}

.item-sidebar:hover{
    color:#546991;
    background-color:#ffffff;
    font-weight: bold;
    
 
}

.seleccionar{
    color:#ffffff!important;
    background-color:#546991!important;
    border-radius: 0.3rem!important;
    box-shadow: -1px 3px 14px 0px rgba(122,122,122,1);

}

.circulo{
    cursor: pointer; font-size: 13px ; background-color: #546991; text-align: center; color: #ffffff; height: 30px; width: 30px;
    margin-top: 40px; margin-bottom: -20px;
}
#dash{
  
    color: #EEEEEE;
    font-size: 14px;
    font-weight: bold;
}
#administrar{
    font-family: 'Manrope', sans-serif;
    font-family: 'Baloo Bhaina 2', cursive;
    border: #ffffff;
    font-size: 13px!important;
    margin-top: 5px;
    margin-bottom: 1px;
    padding: 10px;
    color: #838383;
    font-weight: bold;
}



#item-dashboard{
    margin-top: 5px;
}
.letra{
    font-family: 'Manrope', sans-serif;
    font-family: 'Baloo Bhaina 2', cursive;
}

.portada{
    background-color:#B4B4B4;
    height: 300px;
    
}

.foto-perfil{
    background-color: #546991; height: 160px; margin: auto;
    margin-top: -70px;
    margin-right: auto;
    border: 3px solid #ffffff;
    
}
.foto-perfil2{
   
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #ffffff;
    border-radius: 700rem;
    margin-bottom: 10px;
    margin-top: 30px;
    height: 200px;
    
}

.info-emp{
    margin-top: 15px;
    margin-left: -50px;
   
    
}


#hover-text:hover{
    color: #546991;
    font-weight: bold;
    cursor: pointer;
}











.nombre-emp{
    color:  #546991;
    font-weight: bold;
  
    
   
    
}

.eslogan-emp{
    margin-left: -5px; margin-top: -5px;
    font-size: 14px;
    color: #535353;
    

    
}

.head-car{
 font-size: 22px;
 color: #B8BEC2;
 padding-bottom: 0px;
 padding-top: 12px;
}

.list-group-item{
    background-color: #ffffff;
    border: #ffffff;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
   /* font-family: 'Libre Franklin', sans-serif;*/
   font-family: 'Lexend Giga', sans-serif;
    font-family: 'Libre Franklin', sans-serif;
}

.descripcion{
    margin-left: 50px;
    text-align: justify;
    font-family: 'Lexend Giga', sans-serif;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 15px;
    
}
.linea{
    background-color:#546991 ;
    height: 200px;
    width: 2px;
}

#separador{
    background-color:#E8FAFE;
    height: 60px;
    margin-top: -5px;
    padding-top: 10px;
}

#btn-tiendas{
    text-align: center; background-color:#546991; color:#EEEEEE;
    padding: 10px;
    font-size: 15px;
    border: 0px;
    box-shadow: 2px 2px 10px #666;   
    margin-top: 10px;
   
}

.map-container{
    margin-top: 30px;
    margin-bottom: 30px;
    
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }


    
    
    .btn-x {
        color: #ffffff!important;
        background-color:#546991 !important;
    }
    
    #btn-imagen{
        padding: 5px;
        width: 50px;
        position: relative;
        height: 50px;
        border-radius: 50rem;
        margin-top: 0px;
        margin-left: 12px;

    }

    #texto{
        color: #ffffff;
        text-align: center;
        font-size: 20px;
        margin-top: 2px;
    }

    .producto-img{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;

    }


    #formulario-producto{
        height: 300px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
    }

    .avatar-pic {
        width: 150px;
        }


 .file-field.big .file-path-wrapper {
    height: 3.2rem; }
   .file-field.big .file-path-wrapper .file-path {
  height: 3rem; }


  #input-img{
      opacity: 0;
  }

